{% extends 'base.html.twig' %}

{% block h1 'Workouts' %}

{% block body %}

    <a href="{{ path('app_workout_add') }}" id="btn-add-workout" class="btn btn-success">Add</a>
    <table class="table table-striped">
        <tr>
            <th>{{ 'label.type'|trans }}</th>
            <th>{{ 'label.distance'|trans }}</th>
            <th>{{ 'label.startTime'|trans }}</th>
            <th>{{ 'label.finishTime'|trans }}</th>
            <th>{{ 'label.duration'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
        {% for workout in workouts %}
            <tr>
                <td>{{ workout.typeString }}</td>
                <td>{{ workout.distance }}</td>
                <td>{{ workout.startTime|date }}</td>
                <td>{{ workout.finishTime|date }}</td>
                <td>{{ workout.duration }}</td>
                <td>
                    <a href="{{ path('app_workout_edit', {'id': workout.id}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('app_workout_delete', {'id': workout.id}) }}" class="btn btn-danger"
                       onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}